
.redparagraph{
    background-color: red;
}

.goodemploye{
    background-color: green;
}

.bademploye{
    background-color: yellow;
}


.exampass{
    background-color: green;
}
.examfail{
    background-color: red;
}

